@charset "UTF-8";

* {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
  list-style: none;
}
.container {
  width: 1080px;
  height: 100%;
  padding: 0 20px;
}
li {
  float: left;
}
a {
  width: 100%;
  height: 100%;
  color: inherit;
  text-decoration: none;
  display: inline-block;
}
body {
  min-height: 100vh;
  position: relative;
}
.clear {
  clear: both;
}
header {
  width: 100%;
  height: 75px;
  line-height: 75px;
  color: #00bd39;
}

header .sidemenu {
  float: right;
}
header .sidemenu > li {
  width: 100px;
  text-align: center;
  cursor: pointer;
  font-weight: 700;
}
header .sidemenu > li:hover {
  color: green;
}
nav {
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #cbcbcb;
}

nav .leftMenu {
  float: right;
  height: 100%;
  font-size: 20px;
  font-weight: bold;
}

nav .leftMenu > li {
  width: auto;
  padding: 0 20px;
  height: 100%;
  line-height: 100px;
  text-align: center;
  cursor: pointer;
  position: relative;
}

nav .leftMenu > li:hover > .dropmenu {
  visibility: visible;
}
nav .leftMenu > li > .dropmenu {
  display: inline-block;
  width: 150px;
  clear: both;
  position: absolute;
  top: 59px;
  left: 0;
  text-align: left;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
  visibility: hidden;
}
nav .leftMenu > li > .dropmenu > span {
  width: 100%;
  display: inline-block;
  padding-left: 20px;
  background: #00bd39;
  color: white;
  font-weight: 400;
}
nav .leftMenu > li > .dropmenu > span:hover {
  font-weight: 700;
}
nav .leftMenu > li:hover {
  color: #00bd39;
  font-weight: 700;
  border-bottom: 3px solid #00bd39;
}
nav .leftMenu > li.active {
  color: #00bd39;
  font-weight: 700;
  border-bottom: 3px solid #00bd39;
}

nav .rightMenu {
  float: right;
}
nav .rightMenu > li {
  width: 100px;
  height: 36px;
  line-height: 32px;
  margin-top: 12px;
  margin-left: 10px;

  padding: 0 10px;
  text-align: center;

  color: #00bd39;
  font-weight: 700;
  border: 2px solid #00bd39;
  cursor: pointer;
  border-radius: 50px;
}
nav .rightMenu > li:hover,
nav .rightMenu > li.active {
  color: white;
  bacground: #00bd39;
}
section {
  width: 100%;
  height: 650px;
  padding: 30px 0;
  background: #fafafa;
}
footer {
  width: 100%;
  height: 115px;
  border-top: 1px solid #cbcbcb;
  background: white;
  font-size: 18px;
}
footer > .container {
  height: auto;
}
footer .top {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #cbcbcb;
  margin-bottom: 15px;
}
footer .top span {
  height: 100%;
  line-height: 40px;
  padding-right: 15px;
  cursor: pointer;
}

footer .top span:hover {
  font-weight: 700;
}
footer .copyright {
  margin-top: 5px;
}
